---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";
import "@fontsource-variable/inter";
import Thing from "../components/Thing.astro";
import {
	softwareApplication,
	frequentlyAskedQuestions,
	organisationSchema,
	gregoryBaranski,
} from "../lib/schemas";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta
			name="description"
			content="Real-time parking lot occupancy detection using CCTV Cameras and AI. Drivers can find the nearest parking lot with available parking spots using our mobile app."
		/>
		<meta
			name="keywords"
			content="Parking Lot, AI, Camera, Smart City, Gdańsk, Gdynia, Sopot, Warsaw, Warszawa, Poznań, Lubin, Kłodzko, Los Angeles"
		/>
		<script
			data-goatcounter="https://wheretopark.goatcounter.com/count"
			async
			src="https://gc.zgo.at/count.js"></script>
		<Thing schema={softwareApplication} />
		<Thing schema={frequentlyAskedQuestions} />
		<Thing schema={organisationSchema} />
		<Thing schema={gregoryBaranski} />
	</head>
	<body class="pt-8">
		<div class="px-8 md:px-32">
			<Navbar />
		</div>
		<div class="pt-12">
			<slot />
		</div>
		<div class="mt-36">
			<Footer />
		</div>
	</body>
</html>
